<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />

    <style>
        body {
            font-family: 'Tw Cen MT', sans-serif;
            background-color: #FFFFFF;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        p {
            margin-top: 20px;
            color: #555;
        }

        a {
            color: #FDBD40;
            text-decoration: none;
            font-weight: bold;
        }

            a:hover {
                text-decoration: underline;
            }
        nav {
            width: 100%;
            background-color: #000000;
            padding: 15px 0;
            text-align: center;
            position: fixed;
            top: 0;
            z-index: 1000;
        }

            nav a {
                text-decoration: none;
                margin: 0 15px;
                font-size: 18px;
            }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <nav>
                        <a class="text-warning" asp-controller="Home" asp-action="Index">Главная</a>
                        <a class="text-warning" asp-controller="Home" asp-action="Authors">Наши авторы</a>
                        <a class="text-warning" asp-controller="Home" asp-action="Registration">Регистрация</a>
                        <a class="text-warning" asp-controller="Home" asp-action="Authorization">Авторизация</a>
                        <a class="text-warning" asp-controller="Home" asp-action="Profile">Профиль</a>
                        <a class="text-warning" asp-controller="Home" asp-action="CourseAdd">Добавить курс</a>
                        <a class="text-warning" asp-controller="Home" asp-action="DocOne">Отчёт 1</a>
                        <a class="text-warning" asp-controller="Home" asp-action="DocTwo">Отчёт 2</a>
                    </nav>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
